.blog-jumbotron {
  text-align: center;
  min-height: 50%;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 0 #083D77; }

.author-summary {
  display: flex;
  align-items: center;
  margin: 10px 0; }
  .author-summary * {
    margin: 0; }
  .author-summary h4 {
    margin-left: 4px; }

.post-summary {
  margin: 20px 0; }

.blog-header {
  margin: 40px 0; }
  .blog-header .seperator {
    border: 2px solid #FB3640;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #083D77; }

.blog-content {
  margin: 0 auto;
  width: 75%; }
  .blog-content h2 {
    border-bottom: 2px solid #F4D35E; }

.img-circle {
  border-radius: 100%; }

.navbar {
  background-color: #FFF;
  width: 100%;
  border-bottom: 1px solid #DDD; }
  .navbar .container {
    display: flex;
    align-items: center; }
  .navbar a {
    color: #FB3640; }
  .navbar ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    .navbar ul li {
      float: left;
      margin-bottom: 0; }
      .navbar ul li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        transition: all 0.4s ease; }
        .navbar ul li a:hover {
          color: white;
          background: #FB3640; }
  .navbar.top-navbar {
    position: fixed;
    top: 0;
    font-weight: bold;
    z-index: 1000; }
    .navbar.top-navbar .brand {
      font-family: "Nunito", sans-serif;
      font-weight: 200;
      position: relative;
      float: left;
      margin: 0 16px;
      display: inline-block;
      font-size: 1.2em;
      color: white;
      background-color: rgba(8, 61, 119, 0.8);
      transition: all 0.4s ease; }
      .navbar.top-navbar .brand::before {
        content: "Bjorkbat";
        position: absolute;
        top: -5px;
        left: -5px;
        background-color: rgba(251, 54, 64, 0.8);
        transition: all 0.4s ease; }
      .navbar.top-navbar .brand::after {
        position: absolute;
        content: "Bjorkbat";
        right: -5px;
        bottom: -5px;
        background-color: rgba(244, 211, 94, 0.8);
        transition: all 0.4s ease;
        z-index: -100; }
      .navbar.top-navbar .brand:hover {
        background-color: transparent;
        color: #333; }
        .navbar.top-navbar .brand:hover::before {
          left: 0px;
          top: 0px;
          background-color: transparent; }
        .navbar.top-navbar .brand:hover::after {
          right: 0px;
          bottom: 0px;
          background-color: transparent; }

a.social {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #FB3640;
  color: #FFF;
  display: inline-flex;
  align-items: center;
  justify-content: center; }
  a.social.facebook {
    background-color: #4267b2; }
  a.social.linkedin {
    background-color: #0077B5; }
  a.social.twitter {
    background-color: #1DA1F2; }

body {
  font-family: "Open Sans", sans-serif;
  color: #333; }

.h1 {
  font-size: 4.6rem; }

.h2 {
  font-size: 3.6rem; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 200; }

a {
  color: #FB3640; }
  a:hover {
    color: #E5323B; }

p em {
  color: #083D77; }

.text-blue {
  color: #083D77; }

.text-red {
  color: #FB3640; }

.text-yellow {
  color: #F4D35E; }

html, body {
  height: 100%; }

body {
  background-color: #FFF;
  padding-top: 50px; }

.full-height {
  min-height: 100%; }

.full-width {
  width: 100%; }

.center-horizontal > * {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.full-center {
  display: flex;
  align-items: center;
  justify-content: center; }

form {
  border: 1px solid #DDD;
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #BBB; }
  form.narrow {
    max-width: 400px; }

button {
  background-color: #FB3640;
  border-color: #E5323B;
  transition: all 0.4s ease; }
  button:hover {
    background-color: #E5323B;
    border-color: #ce2d35; }

.jumbotron {
  width: 100%;
  background-color: #FB3640;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px; }
  .jumbotron h1 {
    font-size: 6.4rem; }
  .jumbotron p {
    font-size: 1.8rem; }

/*# sourceMappingURL=main.css.map */
