@import 'colors';

.blog-jumbotron {
	text-align: center;
	min-height: 50%;
	display: flex;
	align-items: center;
	text-shadow: 2px 2px 0 $dark-cerulean;
}

.author-summary {
	display: flex;
	align-items: center;
	margin: 10px 0;

	* {
		margin: 0
	}

	h4 {
		margin-left: 4px;
	}
}

.post-summary {
	margin: 20px 0;
}

.blog-header {
	margin: 40px 0;

	.seperator {
		border: 2px solid $coral-red;
		border-radius: 2px;
		box-shadow: 2px 2px 0 $dark-cerulean;
	}
}

.blog-content {
	margin: 0 auto;
	width: 75%;

	h2 {
		border-bottom: 2px solid $stil-de-grain-yellow;
	}
}
