$deep-carmine-pink: #F02D3A;
$ghost-white: #F7F8F9;
$light-sea-green: #1DBAB2;
$oxford-blue: #0B2545;
$sunglow: #FFBC30;

$coral-red: #FB3640;
$coral-darker: #E5323B;
$coral-darkest: #ce2d35;
$stil-de-grain-yellow: #F4D35E;
$dark-cerulean: #083D77;
