.navbar {
	background-color: #FFF;
	width: 100%;
	border-bottom: 1px solid #DDD;

	.container {
		display: flex;
		align-items: center;
	}

	a {
		color: $coral-red;
	}

	ul {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;

		li {
			float: left;
			margin-bottom: 0;

			a {
				display: block;
				text-align: center;
				padding: 14px 16px;
				transition: all 0.4s ease;

				&:hover {
					color: white;
					background: $coral-red;
				}
			}
		}
	}

	&.top-navbar {
		position: fixed;
		top: 0;
		font-weight: bold;
		z-index: 1000;

		.brand {
			font-family: "Nunito", sans-serif;
			font-weight: 200;
			position: relative;
			float: left;
			margin: 0 16px;
			display: inline-block;
			font-size: 1.2em;
			color: white;
			background-color: rgba(8, 61, 119, 0.8);
			transition: all 0.4s ease;

			&::before {
				content: "Bjorkbat";
				position: absolute;
				top: -5px;
				left: -5px;
				background-color: rgba(251, 54, 64, 0.8);
				transition: all 0.4s ease;
			}

			&::after {
				position: absolute;
				content: "Bjorkbat";
				right: -5px;
				bottom: -5px;
				background-color: rgba(244, 211, 94, 0.8);
				transition: all 0.4s ease;
				z-index: -100;
			}

			&:hover {
				background-color: transparent;
				color: #333;

				&::before {
					left: 0px;
					top: 0px;
					background-color: transparent;
				}

				&::after {
					right: 0px;
					bottom: 0px;
					background-color: transparent;
				}
			}
		}
	}

}
