body {
	font-family: "Open Sans", sans-serif;
	color: #333;
}

.h1 {
	font-size: 4.6rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: "Nunito", sans-serif;
	font-weight: 200;
}

a {
	color: $coral-red;

	&:hover {
		color: $coral-darker;
	}
}
